.navbar{
    display:flex;
    justify-content:space-between;
    background-color: aqua;
    color:black;
    width:700px;
}
.navbar li{
    list-style: none;
}
.navbar li a{
    text-decoration: none;
    color:blue;
}
.navbar li a:hover{
    color:rgb(184, 63, 63);
    text-decoration: dashed;
}